<mat-spinner *ngIf="isLoading"></mat-spinner>
<div multi="true" *ngIf="albums.length > 0 && !isLoading" class="card-wrapper">
  <mat-card-content *ngFor="let album of albums" class="card">
    <p>
      {{ album.title }}
    </p>

    <a [routerLink]="['/albums', album.artistId]">{{ album.name}}</a>
    <p>{{ album.year }}</p>
    <p>{{ album.genre }}</p>
    <p class="info">
      <a mat-button color="primary" [routerLink]="['/edit', album._id]">EDIT</a>
      <button mat-button color="warn" (click)="onDelete(album._id)">DELETE</button>
    </p>
  </mat-card-content>
</div>
<p class="info-text mat-body-1" *ngIf="albums.length <= 0 && !isLoading">No albums added yet!</p>