<mat-card>
  <mat-spinner *ngIf="isLoading"></mat-spinner>
  <form [formGroup]="form" (submit)="onSaveAlbum()" *ngIf="!isLoading">
    <mat-form-field>
      <input
        matInput
        type="text"
        formControlName="title"
        placeholder="Album title"
      />
      <mat-error *ngIf="form.get('title').invalid">Title is required</mat-error>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Select artist</mat-label>
      <mat-select formControlName="artistId" [value]=artistId>
        <mat-option *ngFor="let artist of artistList" [value]="artist._id">
          {{ artist.name }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field>
      <input
        matInput
        type="text"
        formControlName="year"
        placeholder="Album year"
      />
    </mat-form-field>

    <mat-form-field>
      <input
        matInput
        type="text"
        formControlName="genre"
        placeholder="Album genre"
      />
    </mat-form-field>

    <button mat-raised-button color="accent" type="submit">Save Album</button>
  </form>
</mat-card>
