<mat-spinner *ngIf="isLoading"></mat-spinner>
<div multi="true" *ngIf="artists.length > 0 && !isLoading" class="card-wrapper">
  <mat-card-content *ngFor="let artist of artists" class="card">

    <p class="title">{{ artist.name }}</p>


      <img class ="artist-cover" src="assets/images/noartist.jpg" width="70%" alt="CD placeholder">

    <p>{{ artist.birthdate | date: 'dd/MM/yyyy'}}</p>
    <p>{{ artist.deathDate | date: 'dd/MM/yyyy' }}</p>
    <mat-action-row>
      <a class="card-button" color="primary" [routerLink]="['/albums/', artist._id]">Albums of this artist</a>
      <a mat-button color="white" [routerLink]="['/edit/artist/', artist._id]">EDIT</a>
      <button mat-button color="warn" (click)="onDelete(artist._id)">DELETE</button>
    </mat-action-row>
  </mat-card-content>
</div>
<p class="info-text mat-body-1" *ngIf="artists.length <= 0 && !isLoading">No artists added yet!</p>